<!DOCTYPE html>
<html lang="en">

<head>
    <title>25 Top Gross Earning Movies</title>  
    <link rel="stylesheet" href="css/main.css"
</head>

<body {
     background-color: #ffffff;
     font-size: 30px
     font-family: Roboto;     
}

.wrapper-main {
    width: 900px;
    margin: 0 auto;
}    
 
table {
    width: 50%
}
    
th {
    font-weight: bold;
}
 
td {
    border: 1px solid #000;
}
    </body>
</html> 